.cd-modal-fundo {
    position: fixed;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999999999 !important;
    inset: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    backdrop-filter: blur(4px);
    z-index: 9999;
}

.cd-modal-caixa {
    width: 90%;
    max-width: 400px;
    background: #111;
    border-radius: 14px;
    padding: 25px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.08);
    animation: cdAnimar 0.25s ease;
    text-align: center;
}

/* animação suave */
@keyframes cdAnimar {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cd-titulo {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.cd-qrcode-conteudo {
    background: white;
    padding: 12px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 25px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.cd-btn-fechar {
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #555;
    cursor: pointer;
    transition: 0.25s;
}

.cd-btn-fechar:hover {
    background: #444;
}