.mf-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.65);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    z-index: 99999;
}


.mf-card {
    width: 100%;
    max-width: 420px;
    background: rgba(20, 20, 20, 0.90);
    padding: 32px;
    border-radius: 18px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.45);
    text-align: center;
    animation: mfShow 0.25s ease;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.06);
}

@keyframes mfShow {
    from {
        opacity: 0;
        transform: translateY(18px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mf-card h2 {
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: 600;
    color: #f1f1f1;
}

.mf-erro {
    background: rgba(255, 80, 80, 0.12);
    color: #ff7b7b;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 12px;
}

.mf-btn {
    width: 100%;
    background: #2b68ff;
    color: white;
    padding: 14px 0;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.5px;
    border: none;
    transition: 0.25s;
    box-shadow: 0 0 12px rgba(43, 104, 255, 0.35);
}

.mf-btn:hover {
    background: #1f55dd;
    box-shadow: 0 0 20px rgba(43, 104, 255, 0.45);
    transform: scale(1.02);
}

.mf-input {
    width: 100%;
    padding: 14px;
    margin-top: 12px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: white;
    font-size: 15px;
    outline: none;
    transition: 0.25s;
}

.mf-input:focus {
    border-color: #2b68ff;
    background: rgba(255, 255, 255, 0.12);
}

.mf-fechar {
    margin-top: 18px;
    background: transparent;
    color: #ccc;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

.mf-fechar:hover {
    color: white;
    transform: scale(1.05);
}

/* área com foto e informações do funcionário */
.mf-info-funcionario {
    text-align: center;
    margin-bottom: 22px;
    margin-top: 5px;
    animation: mfFade 0.4s ease;
}

@keyframes mfFade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mf-foto {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}

.mf-info-funcionario h3 {
    font-size: 20px;
    margin-bottom: 4px;
    color: #f1f1f1;
}

.mf-funcao {
    font-size: 15px;
    margin-top: 2px;
    color: #bfbfbf;
}