* {
  margin: 0px;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.app {
  background: #0d0d0d;
  color: #ffffff;
  min-height: 100%;
}

body {
  background-color: #0d0d0d;
}